module {{module_name}} where

import {{module}}

import Test.QuickCheck (Result, quickCheckResult)

{{user_name}} :: {{type_signature}}
{{user_definition}}

prop {{args}} = {{name}} {{args}} == {{user_name}} {{args}}

dohaskell :: IO Result
dohaskell = quickCheckResult prop
